{% extends "base.html" %}
{% block content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//jquerycsvtotable.googlecode.com/files/jquery.csvToTable.js"></script>
    <h1>Credit Card Fraud Detector</h1>
    <p>The CSV file should contain the columns number, trans_data, cc_num, merchant, category, amt, first, last, gender, street, city, state, zip, lat, long, city_pop, job, dob, trans_num, unix_time, merch_lat, merch_long, is_fraud</p>
    <form class="grid" action="/api/creditfraud">
        <input type="file" id="csvFile" name="csvFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />
        <input type="submit" value="Upload Your File">
    </form>
    <a href="/api/creditfraud">Use a Test File</a>
    <a href="/api/fraudTest">
        <div id="CSV"></div></a>
    </a>
    {% if hasano %}
        <br><br>
        <strong>{{count}} anomalies detected!</strong>
        <br><br>
        {% for ano in anomalies %}
            <p>{{ano}}</p>
        {% endfor %}
    {% endif %}
    <script src="/static/csvuploader.js"></script>
{% endblock %}