{% extends 'base.html' %}
{% block content %}
    <div class="grid">
        <img src="/static/titleimage.png" alt="Title Image" width="400" style="transform: translate(0, -10vh);">
        <h1>Together, we can fight digital scams.</h1>
    </div>
    <p>Over $300 million total has been lost to digital scams each year. Explore ways you can protect you and your loved ones from online scams using this toolkit. </p>
    <br>
    <p>Click on the links in the navigation bar to explore the toolkit.</p>
{% endblock %}