{% extends 'base.html' %}
{% block content %}
    <h1>Q&A</h1>

    <details>
        <summary>How do I know if I have received a scam email or phone call?</summary>
        <p>You may receive an unsolicited phone call (from someone claiming to be from the Bank) requesting personal or financial information, or to participate in a bank survey. You may receive an e-mail advising that you have won or inherited a large amount of money (usually from overseas) and that you need to pay a fee to release the money from the Bank.</p>
    </details>

    <details>
        <summary>What should I do if I got scammed?</summary>
        <p>Immediately stop contacting the scammer and report it.</p>
    </details>

    <details>
        <summary>Can I get my money back after I have been scammed.</summary>
        <p>Unfortunately, it is very difficult to do as scammers are difficult to track. The best thing you can do is avoid providing information to scammers in the future.</p>
    </details>

    <details>
        <summary>How can I prevent being scammed in the future?</summary>
        <p>You should avoid providing information to scammers, or ignore them completely. If you are unsure whether a message is a scam or not, you can use our scam detector tool.</p>
    </details>

    <a id="start-btn" role="button" href="#">Ask with Voice</a>
    <script src="/static/chatbotscript.js"></script>
{% endblock %}